import("XML")

export("oaih_get_record",
       "oaih_identify",
       "oaih_list_identifiers",
       "oaih_list_metadata_formats",
       "oaih_list_records",
       "oaih_list_sets",
       "oaih_transform")
